[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
nose = "*"
tox = "*"
mypy = "*"
"flake8" = "*"
twine = "*"
tox-pyenv = "*"

[requires]
python_version = "3.6"
